$theme-dark: (
    theme-button: (
        background-color: silver,
        color: black
    ),
    theme-colors: (
        background-color: #333,
        color: #fff
    ),
    features: (
        background-color: #f4f4f4
    )
);
$theme-light: (
    theme-button: (
        background-color: black,
        color: silver
    ),
    theme-colors: (
        background-color: #fff,
        color: #333
    ),
    features: (
        background-color: #333
    )
);
@mixin themable($theme-name, $theme-map) {
    body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
    }
    .#{$theme-name} {
        #theme-button {
            position: absolute;
            left: 60px;
            top: 20px;
        }
        header {
            text-align: center;
            padding: 20px;
        }
        .features {
            display: flex;
            justify-content: space-around;
            padding: 40px;
        }

        .feature {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
        }

        #strategy {
            background-color: #b3d4fc;
        }

        #analysis {
            background-color: #fcd9b3;
        }

        #implementation {
            background-color: #d4fcb3;
        }

        .contact {
            text-align: center;
            padding: 40px;
        }

        footer {
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        @each $section, $map in $theme-map {
            @if ($section == theme-button) {
                #theme-button {
                    background-color: map-get($map, background-color);
                    color: map-get($map, color);
                }
            }
            @if ($section == theme-colors) {
                header {
                    background-color: map-get($map, background-color);
                    color: map-get($map, color);
                }
                .contact {
                    background-color: map-get($map, background-color);
                    color: map-get($map, color);
                }
                footer {
                    background-color: map-get($map, background-color);
                    color: map-get($map, color);
                }
            }
            @if ($section == features) {
                .features {
                    background-color: map-get($map, background-color);
                }
            }
        }
    }
}

@include themable(theme-dark, $theme-dark);
@include themable(theme-light, $theme-light);
